body {
	height: 100%;
	width: 100%;
	overflow: auto;

	font-family: "Raleway", sans-serif;
	font-weight: 100;
	color: #eee;
	background: #1a1a1a;
}

.gps-dial-container {
	width: 100vmin;
	height: 100vmin;
	position: relative;
	pointer-events: none;

	&.inactive {
		pointer-events: all;
	}
}

.gps-dial-text {
	width: 100vmin;
	height: 100vmin;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 8vmin;

	p {
		font-size: 4vmin;
	}
}

.gps-dial {
	circle {
		transition: all 0.5s ease;
	}
	.gps-outer-dial {
		animation: opacity 2s linear 0.2s infinite;
	}
	.gps-inner-dial {
		transform-origin: 50% 50%;
		transform: scale(0.89);
		animation: opacity 2s linear 0.1s infinite;
	}
	.gps-inner-inner-dial {
		transform-origin: 50% 50%;
		transform: scale(0.79);
		animation: opacity 2s linear 0s infinite;
	}
}

@keyframes opacity {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.flx-row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.flx-col {
	@extend .flx-row;
	flex-direction: column;
}

.flx-col-wide {
	@extend .flx-col;
	justify-content: space-around;
}

.flx-row-wide {
	@extend .flx-row;
	justify-content: space-between;
}

.flx-row-left {
	@extend .flx-row;
	justify-content: flex-start;
}

.base-container,
.player-container {
	min-height: 100vh;

	&.team1 {
		.base-player-row {
			background: darken(rgb(0, 71, 177), 10%);
			border-bottom: solid 3px darken(rgb(0, 71, 177), 20%);

			&.is-dead {
				background: darken(rgba(0, 71, 177, 0.5), 10%);
				border-bottom: solid 3px darken(rgba(0, 71, 177, 0.5), 20%);
			}
		}
	}

	&.team2 {
		.base-player-row {
			background: darken(rgb(177, 0, 0), 10%);
			border-bottom: solid 3px darken(rgb(177, 0, 0), 20%);

			&.is-dead {
				background: darken(rgba(177, 0, 0, 0.5), 10%);
				border-bottom: solid 3px darken(rgba(177, 0, 0, 0.5), 20%);
			}
		}
	}
}

.base-player-row {
	width: calc(100% - 20px);
	padding: 20px 40px;
	border-radius: 4px;
	margin: 10px;

	font-size: 18px;
	font-weight: 700;
}

.revive-button {
	@extend .flx-row;
	width: 60px;
	border-radius: 4px;
	-webkit-appearance: none;
	background: white;
	border-bottom: solid 3px darken(white, 20%);
	cursor: pointer;

	&:hover {
		transform: translate(0px, -2px);
	}

	&:disabled {
		opacity: 0.5;
		&:hover {
			transform: none;
		}
	}
}

.score-bord {
	@extend .flx-row;
	background: white;
	border-radius: 8px;
	width: calc(100% - 20px);
	margin: 10px;
	border-bottom: solid 3px darken(white, 20%);
	position: relative;

	.score-team1,
	.score-team2 {
		@extend .flx-row;
		font-size: 10vmin;
		font-weight: 700;
		color: rgb(0, 71, 177);
	}

	.divider {
		background: grey;
		border-radius: 2vmin;
		width: 2vmin;
		height: 10vmin;
		margin: 10px;
	}

	.score-team2 {
		color: rgb(177, 0, 0);
	}
}

.text-blauw {
	color: rgb(0, 71, 177) !important;
}

.text-rood {
	color: rgb(177, 0, 0) !important;
}

.lg-text {
	font-size: 6vmin;
	font-weight: 700;
}

.btn-reg {
	-webkit-appearance: none;
	background: white;
	border-radius: 8px;
	border-bottom: solid 3px darken(white, 20%);
	font-size: 5vmin;
	font-weight: 700;
	color: #262626;
	padding: 1vmin 2vmin;

	&:disabled {
		opacity: 0.5;
	}
}

.btn-close {
	position: absolute;
	top: 10vmin;
	right: 10px;
	-webkit-appearance: none;
	background: transparent;
	border-radius: 8px;
	font-size: 7vmin;
	border: none;
	font-weight: 900;
	color: white;
	padding: 1vmin 2vmin;

	&:disabled {
		opacity: 0.5;
	}
}

.refresh-gps {
	color: white;
	svg {
		height: 5vmin;
		width: 5vmin;
		margin-right: 1vmin;
	}
}

input {
	-webkit-appearance: none;
	border-radius: 50px;
	outline: none;
	border: none;
	padding: 2vmin 5vmin;
	&.game-input {
		max-width: 70vw;
		font-size: 10vmin;
	}
}

.maarschalk-player {
	border: solid 2px white;
	border-radius: 8px;
	margin: 10px;
	width: calc(100vw - 20px);
}

.ranks {
	max-width: 90vw;
	flex-wrap: wrap;
}
